.form-btn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .form-btn {
        width: 48%;
    }
}

.buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15px 0;

    .dialog-button {
        width: 43%;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #bfbfbf;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}
