@import '../../../App';

.book-card {
    flex: 20%;
    max-width: 20%;
    margin: 10px;
    @include backgroundInherit;
    .image {
        height: 0;
        padding-top: 120%;
    }
    .book-title {
        text-align: center;
        margin: 0 0 10px;
    }
    .book-info {
        font-size: 16px;
        margin: 5px 0;
    }
    .book-details-button {
        width: 100%;
    }
    @media screen and (max-width: 576px){
        flex: 100%;
        max-width: none;
    }
    @media screen and (min-width: 577px) and (max-width: 992px){
        flex: 70%;
        max-width: 40%;
    }
    @media screen and (min-width: 993px) and (max-width: 1440px){
        flex: 40%;
        max-width: 30%;
    }
    @media screen and (min-width: 1981px) and (max-width: 2560px){
        flex: 10%;
        max-width: 10%;
    }
}
