@import '../../../App';

.book-card {
    flex: 20%;
    max-width: 20%;
    margin: 10px;
    @include backgroundInherit;
    .image {
        height: 0;
        padding-top: 120%;
    }
    .book-title {
        text-align: center;
        margin: 0 0 10px;
    }
    .book-info {
        font-size: 16px;
        margin: 5px 0;
    }
    .book-details-button {
        width: 100%;
    }
    @media screen and (max-width: 426px){
        flex: 100%;
        max-width: none;
    }
}
